{% extends "with-title.html" %}
<!--  -->

{% block linkedData %}
<script id="frank-hampus-weslien" type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@id": "https://frankhampusweslien.com/me",
    "@type": "Person",
    "name": "Frank Hampus Weslien",
    "funder": { "@id": "{{ get_url(path='') | safe }}" },
    "gender": { "@id": "schema:Male" }
  }
</script>

<script id="karl-oskar-rikås" type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@id": "https://karloskar.dev/",
    "@type": "Person",
    "name": "Karl-Oskar Rikås",
    "gender": { "@id": "schema:Male" }
  }
</script>
{% endblock content %}
<!-- -->
{% block content %}

<div class="people-container">
  <div class="center">
    {% set image =
    resize_image(path='../assets/people/frank-hampus-weslien.jpeg', width=200,
    height=200, op="fit") %}
    <img class="people-headshoot" src="{{ image.url }}" />
    <h3 class="people-name">Frank Hampus Weslien</h3>
    <p class="people-title">Cofounder</p>

    <div class="social-links-container">
      <a
        href="https://frankhampusweslien.com/"
        class="social-link"
        target="_blank"
      >
        <img width="24" src="{{ get_url(path='icons/link.svg') | safe }}" />
      </a>
      <a
        href="https://github.com/honungsburk"
        class="social-link"
        target="_blank"
      >
        <img width="24" src="{{ get_url(path='icons/github.svg') | safe }}" />
      </a>
      <a
        href="https://twitter.com/HampusFrank"
        class="social-link"
        target="_blank"
      >
        <img width="24" src="{{ get_url(path='icons/twitter.svg') | safe }}" />
      </a>
      <a
        href="https://www.linkedin.com/in/frank-hampus-weslien-b81b59197/"
        class="social-link"
        target="_blank"
      >
        <img width="24" src="{{ get_url(path='icons/linkedin.svg') | safe }}" />
      </a>
    </div>
  </div>

  <div class="center">
    {% set image = resize_image(path='../assets/people/karl-oskar-rikås.png',
    width=200, height=200, op="fit") %}
    <img class="people-headshoot" src="{{ image.url }}" />
    <h3 class="people-name">Karl-Oskar Rikås</h3>
    <p class="people-title">Cofounder</p>

    <div class="social-links-container">
      <a href="https://karloskar.dev/" class="social-link" target="_blank">
        <img width="24" src="{{ get_url(path='icons/link.svg') | safe }}" />
      </a>
      <a href="https://github.com/funrep" class="social-link" target="_blank">
        <img width="24" src="{{ get_url(path='icons/github.svg') | safe }}" />
      </a>
      <a
        href="https://www.linkedin.com/in/karloskarrikaas/"
        class="social-link"
        target="_blank"
      >
        <img width="24" src="{{ get_url(path='icons/linkedin.svg') | safe }}" />
      </a>
    </div>
  </div>
</div>

{% endblock content %}
